# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
**/node_modules

# Deployment
**grafana.db
packages/deployment/postgres/*

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.eslintignore
.eslintrc.json

# Local env files
.env
.env.*
!.env.template

# SSL Certs
certs/*

# OLD and SAVE files
*.OLD
*.SAVE
