@tailwind base;
@tailwind components;
@tailwind utilities;

.loginBackground {
  background: url("../../img/loginBackground.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Slide in */
@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.5s ease-out;
}
